{% extends "base_generic_platos.html" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Platos</th>
            <th scope="col">Procedencia</th>
            <th scope="col">Precio</th>
        </tr>
        </thead>
        <tbody>
        {% for platos in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ platos.nombre }}</td>
                <td>{{ platos.procedencia }}</td>
                <td>{{ platos.precio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}