{% extends "base_generic_mesero.html" %}

{% block title %} <title>Lista de Meseros de Perú</title> {% endblock %}

{% block content %}
    <h3>Lista de meseros de Perú registrados en la base de datos </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">País</th>
                <th scope="col">Nacionalidad</th>
            </tr>
        </thead>
        <tbody>
            {% for mesero in meseros %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ mesero.nombre }}</td>
                    <td>{{ mesero.edad }}</td>
                    <td>{{ mesero.pais }}</td>
                    <td>{{ mesero.nacionalidad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
